.card {
    display: inline-block;
    overflow-y: auto;
    background: #ffffff;
    padding: 20px;
    margin: 5px 0.5%;
    font-size: 1.3em;
    img {
        background: #f2f2f2;
    }
}

ul {
    margin-bottom: 0;
    margin-top: 0;
}


/* Extra small devices (Mobile, 600px and down) */
@media only screen and (max-width: 700px) {
    .card {
        width: 100%;
        box-sizing: border-box;
        font-size: 1.5em;
        // height: 570px;
    }
}

/* Small to medium devices (tablets, 600px and up) */
@media only screen and (min-width: 700px) {
    .card {
        width: 42.7%;
        height: 445px;
    }
}

/* Medium to large devices (desktop, 768px and up) */
@media only screen and (min-width: 1440px) {
    .card {
        width: 20.6%;
        height: 445px;
    }
}
