.card {
    display: inline-block;
    overflow-y: auto;
    background: #ffffff;
    padding: 20px;
    margin: 5px 0.5%;
    img {
        background: #f2f2f2;
    }
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


/* Extra small devices (Mobile, 600px and down) */
@media only screen and (max-width: 700px) {
    .card {
        width: 100%;
        height: 570px;
    }
}

/* Small to medium devices (tablets, 600px and up) */
@media only screen and (min-width: 700px) {
    .card {
        width: 49%;
    }
}

/* Medium to large devices (desktop, 768px and up) */
@media only screen and (min-width: 1440px) {
    .card {
        width: 24%;
        height: 550px;
    }
}
