<mat-card class="card">

    <!-- Icon for the program -->
    <img *ngIf="program.mission_patch_small != null" mat-card-image src="{{ program.mission_patch_small }}" alt="Photo of a Shiba Inu">
    <img *ngIf="program.mission_patch_small == null" mat-card-image src="../../../assets/not-found.png" alt="Photo of a Shiba Inu">

    <mat-card-content>
        <!-- Program Name with Flight Number -->
        <div>
            <mat-card-title>{{ program.mission_name }} #{{ program.flight_number }}</mat-card-title>
        </div><hr>

        <!-- List of all mission IDs, Displays 'N/A' if there is no mission id -->
        <div><b>Mission Ids:</b></div>
        <ul *ngIf="program.mission_id.length > 0">
            <li *ngFor="let id of program.mission_id">
                {{ id }}
            </li>
        </ul>

        <ul *ngIf="program.mission_id.length == 0">
            <li>
                N / A
            </li>
        </ul>

        <!-- Launch Year -->
        <div><b>Launch Year: </b>{{ program.launch_year }}</div>

        <!-- Launch Success Status -->
        <div><b>Successful Launch:</b> {{ program.launch_success | boolToStr }}</div>

        <!-- Land Success Status -->
        <div><b>Successful Landing:</b> {{ program.land_success | boolToStr }}</div>
    </mat-card-content>
</mat-card>