.title {
    font-weight: bold;
    padding: 5px 10px;
}
.subtitle {
    text-align: center;
}
hr {
    width: 50%;
}
.button {
    display: inline-block;
    background: #c5e09b;
    width: 30%;
    margin: 10px 10%;
    padding: 2px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/* Extra small devices (Mobile, 600px and down) */
@media only screen and (max-width: 700px) {
    .button {
        font-size: 1.2em;
    }
}

/* Small to medium devices (tablets, 600px and up) */
@media only screen and (min-width: 700px) {
    .button {
    }
}

/* Medium to large devices (desktop, 768px and up) */
@media only screen and (min-width: 1440px) {
    .button {
        
    }
}
