<span>
    <div class="title">Filters</div>

    <!-- Launch Year -->
    <div class="subtitle">Launch Year</div>
    <hr>
    <div class="button" *ngFor="let year of years; let i = index" (click)="queryYear(year, i)" #btnYear>
        {{ year }}
    </div>


    <!-- Successful Launch -->
    <div class="subtitle">Successful Launch</div>
    <hr>
    <div class="button" (click)="queryLaunch(true)" #launchTrue>True</div>
    <div class="button" (click)="queryLaunch(false)" #launchFalse>False</div>


    <!-- Successful Landing -->
    <div class="subtitle">Successful Landing</div>
    <hr>
    <div class="button" (click)="queryLand(true)" #landTrue>True</div>
    <div class="button" (click)="queryLand(false)" #landFalse>False</div>
</span>