span {
    font-family: monospace;
}
.title {
    font-weight: bold;
    padding: 5px 10px;
}
.subtitle {
    text-align: center;
}
hr {
    width: 50%;
}
.button {
    // display: inline-block;
    // background: #c5e09b;
    // background-image: linear-gradient(to bottom right, rgb(87, 16, 16), rgb(87, 16, 200));
    // background-color: #727256;
    // color: white;
    width: 30%;
    margin: 5px 10%;
    padding: 2px 0;
    // text-align: center;
    // border-radius: 5px;
    cursor: pointer;
}

/* Extra small devices (Mobile, 600px and down) */
@media only screen and (max-width: 700px) {
    .button {
        font-size: 1.2em;
    }

    mat-accordion {
        display: block;
    }

    mat-card {
        display: none;
    }
}

/* Small to medium devices (tablets, 600px and up) */
@media only screen and (min-width: 700px) {
    .button {
    }

    mat-accordion {
        display: none;
    }
}

/* Medium to large devices (desktop, 768px and up) */
@media only screen and (min-width: 1440px) {
    .button {
        
    }

    mat-accordion {
        display: none;
    }
}
