.root {
    box-sizing: border-box;
    height: 100%;
    .header {
        width: 100%;
        box-sizing: border-box;
        padding: 0.5%;
        app-header {
        }
    }
    .mid {
    }
    .footer {
        box-sizing: border-box;
        padding: 0.5%;
        padding-bottom: 1%;
        text-align: center;
        vertical-align: top;
        app-footer {
        }
    }
}
